 body {
   background-image: url("assets/LandingPageBg.png");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
 }

 #app {
   font-family: Gilroy ☞, Avenir, Helvetica, Arial, sans-serif;
   font-size: 17px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   line-height: 1;
   font-weight: 700;
   color: #fff;
 }

 .navbar {
   position: absolute;
   top: 30px;
   left: 200px;
   height: 70px;
 }

 .logo {
   width: 42px;
   height: 49px;
 }

 #nav-text > * {
   margin-left: 30px;
 }

 .text {
   position: relative;
   top: 6px;
   font-family: Gilroy ☞, Avenir, Helvetica, Arial, sans-serif;
   font-size: 17px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   font-weight: 700;
   color: #fff;
 }

 .nav-btn-registrarse {
   margin-left: 30px;
   width: 224*0.8px;
   height: 68*0.8px;
   border-radius: 4px;
   background: linear-gradient(90deg, #4bc8f8 0%, #6e93f9 100%);
 }
 .nav-btn-iniciar {
   margin-left: 30px;
   width: 224*0.8px;
   height: 68*0.8px;
   border: 2px solid #fff;
   border-radius: 4px;
   background: transparent;
 }
